@charset "UTF-8";                                  
/* conjunto de caractéres */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);                                  
@font-face {                                                                                        
	font-family: 'fontelogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
/* o primeiro e o segundo @import url: direto do google fonts */  
 /* o terceiro @font-face= este processo é feito para adicionar uma nova fonte ao programa css */                                                 
body {
 font-family: arial, sans-serif;                   /* fonte sem serif */
 background-color: #dddddd;                        /* fundo do site cinza claro*/
 color: rgba(0, 0, 0, 1);                          /* cor da letra preta 0% trasnparente */ 
}
div#interface {                                    /* tudo que esta dentro de div no arquivo html é relativo, então não esta flutuando */ 
	width: 900px;                                  /* largura do site */
	background-color: #ffffff;                     /* interface, fundo branco */
	margin: -20px auto 0px auto;                   /* margem da interface. ordem: cima-direita-baixo-esquerda; auto=automatico, margem: externo */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);    /* sombra/ deslocamento lateral 0px, deslocamento vertcal 0px espalhamento da sombra 10px */
	padding: 10px;                                 /* interno/ cima-direita-baixo-esquerda */
}
 p {
  text-align: justify;                             /* justifica os textos que estão na tag <p> */
  text-indent: 50px;                               /* espaçamento de parágrafo */
}

a {                                                /* tudo que estiver entra a tag ancora pode ser configurado */
 color: #606060;                                   /* cinza escuro */
 text-decoration: none;                            /* sem decoração */
}

a:hover {                                          /* efeito toda vez que passar o mouse por cima de tudo que estiver entre a tag ancora */
text-decoration: underline;                        /* efeito de sublinhado */
}

header#cabecalho img#icone {                       /* pode-se mudar tudo que esta dentro da tag header, e principalmente id=de icone*/
  position: absolute;                              /* oculos vai poder flutuar por todo o site */
  left: 960px;                                     /* direita/ oculos */
  top: 70px;                                       /* cima/oculos */

}

header#cabecalho {                                 /* pode-se mudar tudo dentro do cabeçalho */
	border-bottom: 1px #606060 solid;              /* border-bottom= borda debaixo, 1px tamanho largura desborda, cor cinza e solida */
	height: 150px;                                 /* altura do cabeçalho */
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /* colocando imagem no arquivo css, background= faz com que complete a tela/ no-repeat= não deixa repetir, 0px=deslocamento lateral 80px deslocamento vertical, url para indicar o lugar do arquivo, e dois pontos .. para voltar pasta */

}

header#cabecalho h1{                               /* pode-se mudar tudo que estiver em h1 no cabeçalho */
	font-family: 'fontelogo', sans-serif;          /* fonte */
	font-size: 30pt;                               /* tamanho da letra*/
	color: #606060;                                /* cor cinza */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);    /* sombra do texto h1 */
	padding: 0px;  
	margin-bottom: 0px;                            /* espaço interno*/
}

header#cabecalho h2 {                                         /* tudo que estiver em h2  dentro da tag header podera ser configurado */
font-family: font-family:'Titillium Web', sans-serif;        /* fonte direto do site google fonts */
font-size: 15pt;                                              /* tamanho da fonte 15 pt */
color: #888888;                                               /* cor cinza */
padding: 0px;                                                 /* espaço interno 0px */
margin-top: 0px;                                              /* margem do topo de 0px */
}

/*Formatação de imagem com legendas*/

figure.foto-legenda{                               /* pode se configurar tudo que esta dentro da tag figure.class="foto-legenda" */
	position:relative;                             /* Position:relative;= faz com que a legenda não flutue*/
	border: 8px solid white;                       /* border= borda 8px=tamanho solid=formato white=cor branca*/
	box-shadow: 1px 1px 4px black;                 /* box-shadow=define a sombra, 1px=deslocamento lateral 1px=deslocamento vertical 4px=espalhamento da sombra black=cor preta */
}

figure.foto-legenda img{                           /* pode-se configurar a imagem*/
	width: 100%;                                   /* largura */
	heigth:100%;                                   /* altura */
}

figure.foto-legenda figcaption {                   /* pode se alterar o as configurações da legenda, posição, cor e etc..*/
	opacity: 0;                                    /* faz com que a legenda suma em 0, vai até 1 que é 100 % */
	position: absolute;                            /* absolute, alegenda pode flutuar por todo o site */
	top: 0px;                                      /* cima 100 % */
	background-color: rgba(0, 0, 0, 0.4);          /* cor da pelicula com 0.4 de transparência, black */
	color: white;                                  /* letra cor do branca */
	width: 100%;                                   /* largura */
	height: 100%;                                  /* altura */
	padding:10px;                                  /* alinha a legenda */ 
    box-sizing: border-box;                        /* cria um box dentro da borda */
    transition: opacity 1s;                        /* tempo de transição da legenda */
}

figure.foto-legenda:hover figcaption {opacity: 1;} /* efeito de hover quando o mouse passar pela imagem, com 100% de cor na legenda*/


/* formatação do menu */
nav#menu                              /* para formatar o menu todo que esta dentro de nav */ 
{ display: block;                     /* faz com que o menu vire um bloco, um bloco pode flutuar pela tela */
}

nav#menu ul                           /* tudo que estiver em ul pode ser mudado */
{ list-style: none;                   /* none é valor dos demarcadores do menu */
  text-transform: uppercase;          /* uppercase vai deixar todo o texto maiúsculo */
  position: absolute;                 /* assim a lista fica livre dentro do site, podemos movela para onde quisermos */
  top: -20px;                         /* leva o menu para cima */
  left: 500px;                        /* leva o menu para a esquerda */
} 

nav#menu li                           /* tudo que estiver em li no nav pode ser mudado */
{display: inline-block;               /* estas tags vão fazer com que um bloco seja exibido na mesma linha */
 background-color: #dddddd;           /* coloca cor nas letras do menu, transformando em uma caixa, #dddddd= cinza claro */
 padding: 10px;                       /* vai criar um espaço dentro desta caixa */
 transition: background-color 1s;     /* vai definir o tempo do efeito de hover*/
}

nav#menu li:hover {                   /* hover é uma tag que faz com que quando o mouse passe por cima de tudo que estiver detro da tag li ative um efeito*/ 
	background-color: #606060;        /* # cinza escuro */ 
}

nav#menu h1                           /* pode ser fazer qualquer coisa com o h1 dentro da tag nav */
{ display: none;                      /* display: none;= vai esconder o h1 */
} 

nav#menu a {                          /* pode ser mudado tudo que estiver entre a tag <a> na tag nav#menu.*/
color: #000000;                       /* cor da letra preta */
text-decoration: none;                /* tira o subrinhado */
}

nav#menu a:hover {                    /* pode-se mudar tudo que estiver em hover na tag <a> */
color: #ffffff;                       /* cor branca em hover */
text-decoration: underline;           /* subrinhado em hover */
}

section#corpo {                       /* tudo que for section pode ser configurado */
display: block;                       /* forma um blobo da sessão corpo */
width: 500px;                         /* com largura de 500px */
float: left;                          /* só se usa esta tag se estiver configurado em bloco= float= flutuar left= esquerdo */
border-right: 1px solid #606060;      /* borda do lado direito com um pixel de lagurar, solida e com cor cinza */
padding-right: 15px;                  /* espaço interno lado direito de 15 pixel */
}

article#noticia h2 {                  /* tudo que estiver dentro da tag article=artigo em h2 podera ser configurado */
font-size: 13pt;                      /* tamanho da letra 13pt */   
color: #606060;                       /* cor da letra cinza escuro */
background-color: #dddddd;            /* fundo da margem do titulo cinza claro */
padding: 5px 0px 5px 10px;            /* espaço interno, 5px em cima 0px na direita 5x em baixo e 10px na esquerda */
margin: 10px 0px 10px 0px;            /* margem externa 10px em cima 0px na direita 10px em baixo 0px na esquerda */
}

header#cabecalho-artigo h1 {          /* tudo que estiver entre header com id cabeçalho-artigo podera ser mudado */
font-family: 'fontelogo', sans-serif; /* fonte importada do proprio sistema */
font-size: 20pt;                      /* tamanho da letra 20pt */
color: #606060;                       /* cor da letra cinza escuro */
margin-bottom: 0px;                   /* margem debaixo 0px*/
margin-top: 0px;                      /* margem topo 0px */
}

header#cabecalho-artigo h2 {          /* tudo que estiver em h2 pode ser configurado */
font-size: 13pt;                      /* tamanho da letra 13pt */
color: #cecece;                       /* cor da letra cinza fraco */
background-color: #ffffff;            /* cor do fundo do espaço interno branco */
margin: 0px;                          /* margem 0px */
}

header#cabecalho-artigo h3 {          /* tudo que estiver em header h3 podera ser configurado*/
font-size: 12pt;                      /* tamanho da letra 12pt */  
color: #606060;                       /* cor da letra cinza claro */
}

h3.direita {                          /* tudo que estiver em class direita sera configurado */
text-align: right;                    /* texto-alinhado: direita;*/
}

table#tabela {                        /* tudo que for table podera ser configurado */
border: 1px solid #606060;            /* borda de 1px, solida, cinza escuro */
border-spacing: 0px;                  /* determina o espaço interno da borda */
margin-left: auto;                    /* margem esquerda automatico */
margin-right: auto;                   /* margem direita automatico*/
}

table#tabela td {                     /* tudo que estiver em tabela td pode ser configurado */
border: 1px solid #606060;            /* borda de 1px, solida, cinza escuro */
padding: 10px;                        /* espaço interno de 10px */
}

 table#tabela td.left{                /* td.left é a class que foi informada no arquivo html/index/parte/tabela, tudo que estiver em class left pode ser configurado */
color: #ffffff;                       /* cor da fonte */
font-weight: bold;                    /* fonte-peso; negrito */
background: #606060;                  /* cor do fundo */
vertical-align: top;                  /* centralização da letra no topo */
text-align: right;                    /* alinha o texto para a direita */
 }

table#tabela td.right{                /* tudo que estiver em class right pode ser configurado, class é informado pelo " . " */
background: #cecece;                  /* cor de fundo, cinza claro */
}

table#tabela caption {                /* tudo que estiver entre a tag caption pode ser configurado */
color: #888888;                       /* cor da letra cinza */
font-size: 13pt;                      /* tamanho da letra */
font-weight: bolder;                  /* fonte-peso: mais ousado; */
}

table#tabela caption span {           /* tudo que estiver entre a tag span pode ser configurado */
display:block;                        /* vai ser um bloco flutuante */
float: right;                         /* flutuar para a direita */
color: #000000;                       /* cor preta */
font-size: 8pt;                       /* fonte 8px */
margin-top: 10px;                     /* margin 10px */
}

aside#lateral {                             /* tudo que estiver em conteúdo lateral pode ser configurado */
display: block;                             /* forma um bloco da sessão latral */
width: 350px;                               /* largura de 350px */
float: right;                               /* float= flutuar right= direito */
background-color: #dddddd;                  /* cor do fundo do aside */
padding: 10px;                              /*espaçamento interno de 10px*/
margin-top: 10px;                           /* margem de 10px */
box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);  /*sombra 2px lateral 2px vertival 2px espalhamento rgba é a cor e a transparência*/
} 


aside#lateral h1{                     /* tudo que estiver em h1 pode ser configurado */
font-family: 'fontelogo', sans-serif; /* fonte inportada do proprio computador */
color: #606060;                       /* cor da letra cinza escuro */
font-size: 20pt;                      /* tamanho das letras 20pt */
margin-top: 0px;                      /* margem topo 0px */
}

aside#lateral h2 {                    /* tudo que estiver em aside e for h2 pode ser configurado */
background-color: #606060;            /* fundo do espaço interno do titulo */
font-size: 13pt;                      /* tamanho da fonte 13pt */
color: #ffffff;                       /* cor da letra branca */
padding: 5px;                         /* espaço interno */ 

}

footer#rodape {                       /* tudo que for rodapé pode ser configurado */
clear: both;                          /* limpe a configurações dos dois lados, vai fazer que o rodapé seja mostrado fora dos outros conteúdos */
border-top: 1px solid #606060;        /* borda em cima de 1px solida e da cor cinza */
 }

 footer#rodape p{                     /* tudo que for parágrafo no rodaé pode ser configurado */
 text-align: center;                  /* texto-alinhado: centro; */
 font-family: 'Merriweather', serif;  /* fonte direto do google*/ 
 font-size: 10pt;                     /* tamanho da letra */
 color: black;                        /* color da letra */
 } 
video#film{
    width:500px;
}
video#fil{
    width: 350px;
}
