@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 400px;
    height: 280px;
    border:none;
    overflow: hidden;                     /* faz com que as barras de rolagem sumam */
}
iframe#frame-spec::-webkit-scrollbar {   /* scrollbar= barra de rolagem, display= exibição none=nenhum */
    display:none;

}